
{% extends "layout.html" %}

{% block content %}
<nav class="nhsuk-c-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-o-width-container">
    <ol class="nhsuk-c-breadcrumb__list">
      <li class="nhsuk-c-breadcrumb__item"><a href="/" class="nhsuk-c-breadcrumb__link">Home</a> <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
  <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
  <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey.png" xlink:href="">
</image></svg>
</li>
<li class="nhsuk-c-breadcrumb__item">
  <a href="/" class="nhsuk-c-breadcrumb__link">Your hospital visit</a>
</li>
  </div>
</nav>
<div class="nhsuk-o-width-container">
<main class="nhsuk-o-main-wrapper" id="main-content" role="main">
  <div class="nhsuk-o-grid">
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
      <div class="nhsuk-page-heading">
      <h1>
        Track your time in hospital
        </h1>
        </div>
        </div>
          <div class="nhsuk-o-grid">
        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/patientStart">Enter patient details</a></li>
        <li><a href="/patientPredictedEDD">See your estimated date for leaving hospital</a></li>


      </ul>
    </div>
    </div>
    </div>
</main>
</div>
{% endblock %}
