{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h2 class="govuk-panel__title">
            Application complete
          </h2>
          <div class="govuk-panel__body">
            Your visit tracking number
            <br><strong>HDJ2123F</strong>
          </div>
        </div>
  </div>
</div>
      </div>
    </div>
  </main>
</div>

{% endblock %}
