
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="nhsuk-o-width-container">
<nav class="nhsuk-c-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-c-breadcrumb__list">
    <li class="nhsuk-c-breadcrumb__item">
      <a href="/" class="nhsuk-c-breadcrumb__link">Home</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>
    <li class="nhsuk-c-breadcrumb__item">
      <a href="/" class="nhsuk-c-breadcrumb__link">Your hospital visit</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>
    <li class="nhsuk-c-breadcrumb__item"><a href="#" class="nhsuk-c-breadcrumb__link">Your estimated date for leaving hospital</a></li>
  </ol>
  <p class="nhsuk-c-breadcrumb__back">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"/>
      <image class="nhsuk-icon__chevron-left nhsuk-icon__chevron-left--fallback" src="/images/icons/icon-chevron-left-blue.png" xlink:href="">
    </svg>
    <a href="/patient-predictedEDD" class="nhsuk-c-breadcrumb__backlink">Your estimated date for leaving hospital</a>
  </p>
</nav>
<div>
<div class="nhsuk-o-width-container">
<main class="nhsuk-o-main-wrapper" id="main-content" role="main">
  <div class="nhsuk-o-grid">
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
      <div class="nhsuk-page-heading">
        <h2>We estimate you will leave hospital on:</h2>
         <h1>Friday 7th September 2018</h1>
        <div class="nhsuk-reading-width">
          <p class="nhsuk-body-l nhsuk-page-intro">
            Based on information we know about you and your expected treatment in hospital, people like you stay in hospital for 5 days.
          </p>
        </div>
      </div>
  </div>
      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
<div class="nhsuk-c-panel nhsuk-c-panel__warning">
  <h3 class="nhsuk-c-panel__header">Important</h3>
  <p>  The date you leave hospital may be changed on the day you arrive at hospital. It will be reviewed on a daily basis and adjusted based on the care you need. We will keep it updated on this site so you can check back any time.
  </div>
      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number"> </span> People who need to approve this
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" aria-describedby="eligibility-completed">
                Ward clerk
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Approved</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" aria-describedby="read-declaration-completed">
                Social worker
              </a>

            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number"> </span> Other people who can see this date
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" aria-describedby="company-information-completed">
                Care home
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Seen</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name"  aria-describedby="contact-details-completed">
                GP
              </a>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name"  aria-describedby="contact-details-completed">
                Your nominated contact
              </a>
              <strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Seen</strong>
            </li>



          </ul>
        </li>
      </ol>



    <nav class="nhsuk-c-pagination-v2" role="navigation" aria-label="Pagination">
            <a href="/timeline" class="nhsuk-c-pagination-next">
                <span class="nhsuk-c-pagination-link">Next</span>
                <span class="nhsuk-c-pagination-title">View your progress</span>
                <svg class="nhsuk-icon nhsuk-icon__arrow-right" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
        <image class="nhsuk-icon__arrow-right nhsuk-icon__arrow-right--fallback" src="images/icon-arrow-right.png" xlink:href="">
    </image></svg>

            </a>
            <div class="clear"></div>
        </nav>
        </main>
      </div>
        </div>
        </div>





{% endblock %}
