{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="/patientEmail" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Tell us your next of kin's details</h1>

        <form action="/form-handler" method="post">


           <div class="govuk-form-group">
           <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"> Next of kin's name
              </legend>
            <input class="govuk-input" id="NOKname" type="text" name="NOKname">
          </div>


           <div class="govuk-form-group">
           <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"> Next of kin's email address
              </legend>
            <input class="govuk-input" id="email" name="email" type="email" aria-describedby="email-hint">
          </div>




                    <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
             <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"> Would you like us to send a link for your hospital tracker to your next of kin?
              </legend>

              <span id="waste-hint" class="govuk-hint">
                This will allow them to see the expected date you will leave hospital and the timeline of your stay.
              </span>
                 <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="changed-name-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                      No
                    </label>
                  </div>
                </div>

            </fieldset>
          </div>

        <a href="/linkSent" role="button" class="govuk-button">
          Continue
        </a>

        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
