
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Track your time in hospital
        <span class="govuk-caption-xl">Prototypes from the patient discharge discovery design sprint</span>
      </h1>

      <h2 class="govuk-heading-m">Prototypes</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="http://localhost:3000/patientStart">Enter patient details</a></li>
      
      </ul>
    </div>
</div>

{% endblock %}
