{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="http://localhost:3000/WCpatientlist" class="govuk-back-link">Back to patient list</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Review and update patient details below
        </h1>

        <!-- only add a heading for a list if there is more than one list -->
        <h2 class="govuk-heading-m">
          Patient details
        </h2>

        <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
        <!--   * `app-check-your-answers--short` for short questions -->
        <!--   * `app-check-your-answers__questions-long` for long questions -->
        <!--   * none for single group of q&a -->
        <dl class="app-Review-update-patient-details--short">
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Patient Name
            </dt>
            <dd class="app-check-your-answers__answer">
              John Smith
            </dd>
            <dd class="app-check-your-answers__change">

            </dd>
          </div>

          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Date of birth
            </dt>
            <dd class="app-check-your-answers__answer">
              1 September 1989
            </dd>
            <dd class="app-check-your-answers__change">

            </dd>
          </div>

          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              NHS Number
            </dt>
            <dd class="app-check-your-answers__answer">
              074 982 9564
            </dd>
            <dd class="app-check-your-answers__change">

            </dd>
          </div>

          <div class="app-check-your-answers__contents">

            </dt>

            </dd>
          </div>
        </dl>


        <h2 class="govuk-heading-m">
          Hospital status
        </h2>

        <dl class="app-check-your-answers app-check-your-answers--short">
          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Doctors name
            </dt>
            <dd class="app-check-your-answers__answer">
              Dr Morris
            </dd>
            <dd class="app-check-your-answers__change">
              <a href="#">
                Change<span class="govuk-visually-hidden"> Doctor name</span>
              </a>
            </dd>
          </div>

          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Location
            </dt>
            <dd class="app-check-your-answers__answer">
              Bay A bed 2
            </dd>
            <dd class="app-check-your-answers__change">
              <a href="#">
                Change<span class="govuk-visually-hidden"> Location</span>
              </a>
            </dd>
          </div>

          <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Expected date of discharge
            </dt>
            <dd class="app-check-your-answers__answer">
              30/08/2018
            </dd>
            <dd class="app-check-your-answers__change">
              <a href="http://localhost:3000/WCChangeEDD">
                Change<span class="govuk-visually-hidden"> Expected date of discharge</span>
              </a>
            </dd>
          </div>






      </div>
    </div>

          </main>
{% endblock %}
