{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Track your time in hospital</h1>

        <p class="govuk-body">Use this service to: </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>track the expected progress for each day you're in hospital</li>
          <li>find out the expected day you can leave hospital</li>
          <li>get updates if the expected day you can leave changes</li>
        </ul>

        <p class="govuk-body">Registering takes around 5 minutes.</p>

        <p class="govuk-body">You will need to enter some personal details for us to calculate your expected leave date. Then you'll be emailed a link where you can track your progress.</p>

        <a href="http://localhost:3000/patientDetails" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
          Start now
        </a>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">You can opt out of this service at any point by asking a doctor or nurse who is caring for you.</p>
      

      </div>
    </div>
  </main>
</div>

{% endblock %}
