{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="http://localhost:3000/patientStart" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Enter your personal details</h1>

        <form action="/form-handler" method="post">

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="passport-number">
              Full name
            </label>
            <span id="passport-number-hint" class="govuk-hint">
              For example, John Smith
            </span>
            <input class="govuk-input" id="passport-number" name="passport-number" type="text" aria-describedby="passport-number-hint">
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="expiry-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"> Date of birth
              </legend>
              <span id="expiry-hint" class="govuk-hint">
                For example, 31 3 1980
              </span>
              <div class="govuk-date-input" id="expiry">

                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="expiry-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2 " id="expiry-day" name="expiry-day" type="number" pattern="[0-9]*">
                  </div>
                </div>

                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="expiry-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2 " id="expiry-month" name="expiry-month" type="number" pattern="[0-9]*">
                  </div>
                </div>

                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="expiry-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4 " id="expiry-year" name="expiry-year" type="number" pattern="[0-9]*">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>



        <a href="http://localhost:3000/patientEmail" role="button" class="govuk-button">
          Continue
        </a>




        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}

