
{% extends "layout.html" %}

{% block pageTitle %}
Track your hospital visit
{% endblock %}

{% block content %}
<nav class="nhsuk-c-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-o-width-container">
    <ol class="nhsuk-c-breadcrumb__list">
      <li class="nhsuk-c-breadcrumb__item"><a href="/" class="nhsuk-c-breadcrumb__link">Home</a> <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
  <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
  <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey.png" xlink:href="">
</image></svg>
</li>
      <li class="nhsuk-c-breadcrumb__item"><a href="/" class="nhsuk-c-breadcrumb__link">Your hospital visit</a> <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
  <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
  <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey.png" xlink:href="">
</image></svg>
</li>
      <li class="nhsuk-c-breadcrumb__item"><a href="/timeline" class="nhsuk-c-breadcrumb__link">Your progress</a></li>
    </ol>
    <p class="nhsuk-c-breadcrumb__back"><svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
  <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
  <image class="nhsuk-icon__chevron-left nhsuk-icon__chevron-left--fallback" src="/images/icons/icon-chevron-left-blue.png" xlink:href="">
</image></svg>
<a href="/examples/test-minihub-amd-v2" class="nhsuk-c-breadcrumb__backlink">Back to Age-related macular degeneration (AMD)</a></p>
  </div>
</nav>
<div class="nhsuk-o-width-container">
<main class="nhsuk-o-main-wrapper" id="main-content" role="main">
<div class="nhsuk-o-grid">
  <h1 class="govuk-heading-l">Timeline for your stay in hospital</h1>

        <p class="govuk-body">This is an example of what happens during your hospital visit.</p>

<h2 class="govuk-heading-m">Day before admission</h2>
          <span id="email-hint" class="govuk-hint">
              Sunday 2nd September </span>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Before coming to hospital
        </span>
      </summary>
      <div class="govuk-details__text">
                <ul class="govuk-list govuk-list--bullet">
          <li>bring all of you medication with you</li>
          <li>stock up the freezer with precooked food or easy to cook meals for when you return</li>
          <li>pack your mobile phone and charger</li>
          <li>pack plenty of clothes and toiletries</li>
          <li>arrange for someone to look after your pets while you are in hospital</li>
        </ul>
      </div>
    </details>

<h2 class="govuk-heading-m">Admission day</h2>
          <span id="email-hint" class="govuk-hint">
              Monday 3rd September</span>


    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          People you will be seen by on your first day
        </span>
      </summary>
      <div class="govuk-details__text">

        <ul class="govuk-list govuk-list--bullet">
          <li>a nurse who will conduct an assessment and give you a care plan</li>
          <li>a doctor who will assess your condition and start your treatment</li>
          <li>a consultant who will check that everything is going as planned</li>
        </ul>
      </div>
    </details>


<h2 class="govuk-heading-m">Treatment days</h2>
<span id="email-hint" class="govuk-hint">
              Tuesday 4th September to Saturday 8th September</span>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          During treatment
        </span>
      </summary>
      <div class="govuk-details__text">

        <ul class="govuk-list govuk-list--bullet">
          <li>you will be continuously monitored by the nurse</li>
          <li>your care plan will be followed</li>
          <li>the doctor will assess your progress</li>
          <li>you may also be seen by other specialists, such as physiotherapists, to ensure you're making good progress</li>
        </ul>
      </div>
    </details>



<h2 class="govuk-heading-m">Getting ready to leave</h2>
<span id="email-hint" class="govuk-hint">Sunday 9th September
              </span>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Getting ready to leave hospital
        </span>
      </summary>
      <div class="govuk-details__text">

        <ul class="govuk-list govuk-list--bullet">
          <li>make sure your family or friends are aware you're leaving</li>
          <li>arrange transport from hospital</li>
          <li>ask someone to ensure you have basic supplies if you're going home</li>
          <li>let the nurse know if you have any problems or queries</li>
        </ul>
      </div>
    </details>


<h2 class="govuk-heading-m">Leaving hospital</h2>
<span id="email-hint" class="govuk-hint">Monday 10th September
              </span>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Leaving hospital - hooray!
        </span>
      </summary>
      <div class="govuk-details__text">

        <ul class="govuk-list govuk-list--bullet">
          <li>get a written discharge instructions and a summary of your current health status</li>
          <li>check if you have any follow up appointments</li>
          <li>make sure you understand what medication you need to take and when</li>
          <li>if you're going home ask if you will get any care such as community nursing or GP visits</li>
          <li>ask about things to watch for and what to do about them</li>
          <li>write down the number of the person to call if you have any problems</li>
          <li>buy nice chocolate for the nurses!</li>
        </ul>
      </div>
    </details>

    <nav class="nhsuk-c-pagination-v2" role="navigation" aria-label="Pagination">
            <a href="/patient-predictedEDD" class="nhsuk-c-pagination-prev">
                <span class="nhsuk-c-pagination-link">Previous</span>
                <span class="nhsuk-c-pagination-title">Your estimated hospital leaving date</span>
                <svg class="nhsuk-icon nhsuk-icon__arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z"></path>
        <image class="nhsuk-icon__arrow-left nhsuk-icon__arrow-left--fallback" src="images/icon-arrow-left.png" xlink:href="">
    </image></svg>

            </a>
            <div class="clear"></div>
        </nav>
        </main>
      </div>
        </div>





{% endblock %}
