{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Track a patients time in hospital</h1>

        <p class="govuk-body">Use this service to: </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>track the expected progress for each day patients are in hospital</li>
          <li>update progress for a patients journey</li>
          <li> review patients input into the system</li>
        </ul>

        <p class="govuk-body">Sign in to see patients in your ward.</p>

        <p class="govuk-body">You will need your system username and password to access the patient information. </p>

        <a href="http://localhost:3000/WClogin" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
          Proceed to Login
        </a>

      </div>
    </div>
  </main>
</div>



{% endblock %}
